body
{
  background-color: #f7fbfc;
  font-family: 'Ubuntu', sans-serif;
}
hr
{
  border-style: none;
  border-top: 7px dotted #a2a8d3;
  width: 10%;
}
h1
{
  color: #113f67;
}
h2, h3
{
  color: #38598b;
}
.title
{
  text-align: center;
}
  
