body
{
  margin: 0;
  background-color: #f7fbfc;
  font-family: 'Ubuntu', sans-serif;
}
hr
{
  border-style: none;
  border-top: 7px dotted #a2a8d3;
  width: 10%;
}
h1
{
  margin-bottom: 0;
  color: #113f67;
}
h2, h3
{
  color: #38598b;
}
.title
{
  text-align: center;
}
h1.name
{
  font-size: 60px;
}
p.info
{
  font-style: italic;
}
.button
{
  background-color: #38598b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover
{
  background-color: #113f67;
}
